<a href="https://colab.research.google.com/github/BhuvanBhonde712/Daily-program-task/blob/main/Programming_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HACKER-RANK PROBLEMS (WITH SOLUTION) :**

---



# `1. Say "Hello, World!" With Python` ⏬

In [2]:
print("Hello, World!")

Hello, World!


# `2. Python If-Else` ⏬


**Task :**
Given an integer,n , perform the following conditional actions:

If n is odd, **print Weird**

If n is even and in the inclusive range of 2 to 5, **print Not Weird**

If n is even and in the inclusive range of 6 to 20, **print Weird**

If n is even and greater than 20, **print Not Weird**

**Input Format :**

A single line containing a positive integer, n .

**Constraints :**

1<= n <=100

**Output Format :**
Print Weird if the number is weird. Otherwise, print Not Weird.

In [4]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
if n%2!=0:
    print("Weird");
elif n%2==0 and 1<n<6:
    print("Not Weird");
elif n%2==0 and 5<n<21:
    print("Weird");
elif n%2==0 and n>20:
    print("Not Weird");

4
Not Weird


##`3. Arithmetic Operators ⏬`

**Task:**

The provided code stub reads two integers from STDIN, a and b . Add code to print three lines where:

1.The first line contains the sum of the two numbers.

2.The second line contains the difference of the two numbers (first - second).

3.The third line contains the product of the two numbers.

In [5]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

5
6
11
-1
30

# `4. Python Division ⏬`

**Task:**

The provided code stub reads two integers, a and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a // b. The second line should contain the result of float division, a / b.

No rounding or formatting is necessary.

In [6]:
a = int(input())
b = int(input())
print(a//b)
3
print(a/b)

4
3
1
1.3333333333333333

# `5. Loops ⏬`

**Task:**
The provided code stub reads an integer, n , from STDIN. For all non-negative integers i < n , print i^2 .

In [8]:
if __name__ == '__main__':
    # 1. Read the input integer n
    n = int(input())

    # 2. Iterate from 0 to n-1
    for i in range(n):
        # 3. Print the square of i on a separate line
        print(i * i)

5
0
1
4
9
16

# `6. Write a Function ⏬`

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

**Task :**

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [11]:
def is_leap(year):
    leap = False

    # Write your logic here
    # Check if the year is evenly divisible by 4
    if year % 4 == 0:

        # If divisible by 4, check if it is divisible by 100
        if year % 100 == 0:

            # If divisible by 100, it must also be divisible by 400
            if year % 400 == 0:
                leap = True
            else:
                leap = False

        else:
            # Divisible by 4 but NOT by 100 means it IS a leap year
            leap = True

    else:
        # Not divisible by 4
        leap = False

    return leap
    return leap

year = int(input())
print(is_leap(year))

1992
True

# `7. Print Function ⏬`

The included code stub will read an integer, n , from STDIN.

Without using any string methods, try to print the following:
123...n

Note that "..." represents the consecutive values in between.

In [12]:
if __name__ == '__main__':
    n = int(input())

    # Loop from 1 to n (inclusive)
    for i in range(1, n + 1):
        # Print i, but replace the default newline with an empty string
        print(i, end='')

7
1234567



-------------------------------

# **▶ ADVANCED PYTHON TASK :**

---

## **Running Sum of 1D Array:**

In [ ]:
def runningSum(nums):
    result = []
    current_sum = 0
    for n in nums:
        current_sum += n
        result.append(current_sum)
    return result

# Example test
print(runningSum([1, 2, 3, 4]))   # Output: [1, 3, 6, 10]

[1, 3, 6, 10]

# **Shuffle the Array :**

In [ ]:
def shuffle(nums, n):
    result = []
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i + n])
    return result

# Example usage
print(shuffle([2, 5, 1, 3, 4, 7], 3))

[2, 3, 5, 4, 1, 7]

# **Kids with Candies :**

In [1]:
def kids_with_candies(candies, extraCandies):
    max_candy = max(candies)
    result = []

    for candy in candies:
        result.append(candy + extraCandies >= max_candy)

    return result

# Example usage
print(kids_with_candies([2, 3, 5, 1, 3], 3))

[True, True, True, False,  True]